:root {
}

body, html {
  &.obs-body-default {
    background: url("clug/background.jpg") no-repeat var(--color-background);
    position: relative;
    overflow: hidden;

    &:before {
      background-color: var(--color-background);
      opacity: .66;
      content: '';
      position: absolute;
      width: 1920px;
      height: 1080px;
      left: 0;
      bottom: 0;
    }

    &:after {
      background-image: linear-gradient(rgba(var(--color-background-c), 0), var(--color-background));

      z-index: 0;
      content: '';
      position: absolute;
      width: 1920px;
      height: 447px;
      top: 410px;
      left: 0;
      bottom: 857px;
    }

    > * {
      z-index: 1;
    }
  }
}

.obs-event-logo {
  .obs-event-title {
    display: none;
  }
}
