@import "../fonts/fira_sans";

:root {
  --color-accent-c: 55, 77, 160;
  --color-accent-2-c: 231, 131, 146;
  --color-accent-3-c: 248, 178, 68;
  --color-background-c: 242, 227, 210;

  --color-accent-2: rgb(var(--color-accent-2-c));
  --color-accent-3: rgb(var(--color-accent-3-c));
}

html {
  background: var(--color-background);
}

body, html {

  &.obs-body-default {
    background: url("europython/bg.png") no-repeat var(--color-background);
    position: relative;
    overflow: hidden;

  }
}

.obs-event-logo {
  top: 158.5px;
  left: 136px;

  img {
    width: 600px;
    height: 273px;
  }

  .obs-event-title {
    display: none;
  }
}

.obs-intermission-schedule {
  top: auto;
  left: 860px;
  right: 32px;
  bottom: 67px;
}

.obs-intermission-schedule-title {
  margin-bottom: 15px;
  color: var(--color-accent);
}

.obs-intermission-schedule-talk:not(.no-author) {

  &.obs-intermission-schedule-entry {
    background: none;

    &.no-picture {
      padding-left: 0;
    }
  }
}


.obs-intermission-schedule-entry-start-time {
  background: var(--color-accent-3);

  .obs-intermission-schedule-talk:not(.no-author) & {
    padding-top: 5px;
  }
}

.obs-intermission-schedule-talk-author-name {
  padding-top: 5px;
}

.obs-intermission-schedule-talk-title {
  color: var(--color-accent);
  font-weight: 500;
}

.obs-intermission-schedule-overflow {
  display: none;
}
