:root {
  --pydata-bg: #20252b;
  --pydata-orange: #ec9041;
  --pydata-blue: #489bb7;
  --pydata-blue-alt: #667b83;
  --pydata-blue-alt2: #537375;
}


body, html {

  &.obs-body-default {
    background: url("/static/branding/pydata/bg.png") no-repeat, var(--pydata-bg);
  }
}

.obs-meeting-logo {
  img {

    width: 1036px;
    height: 448px;
  }
}

.obs-meeting-title {
  color: var(--pydata-blue);
  font-weight: 400;
  font-size: 3rem;
  top: -110px;
  right: 25px;
  left: auto;
  text-align: right;
  text-shadow: none;
}

.obs-intermission-schedule-talk-author-name {
  color: var(--pydata-orange);
}

.obs-intermission-schedule-talk-title {
  color: var(--pydata-blue);
}

.obs-intermission-schedule-misc-title:before,  .obs-intermission-schedule-talk.no-picture .obs-intermission-schedule-entry-content:before {
  color: var(--pydata-blue)
}

.obs-intermission-schedule-title {
  text-shadow: none;
}

.obs-intermission-next-entry-author-name {
  color: var(--pydata-orange);
}

.obs-presentation-author, .obs-presentation-title, .obs-presentation-misc-title {
  text-shadow: none;
}

.obs-presentation-author {
  color: var(--pydata-orange)
}

.obs-body-scene-presentation {
  .obs-meeting-logo {
    img {
      width: 222px;
      height: 96px;
    }
  }
}
