@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../roboto-monospace.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --background-image: "/static/branding/python-pizza/prague-bg.jpg";
  --start-time-display: block;
  --intermission-sponsors-columns: 2;
  --theme-ui-colors-primary: #ed4337;
}

body, html {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  &.obs-body-default {
    background: image-set(var(--background-image) 1x) no-repeat center/cover;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 1920px;
      height: 1920px;
      background: #ed4337;
      mix-blend-mode: hard-light;
      z-index: -2;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 550px;
      background: url("/static/branding/python-pizza/wave.svg#clip-path");
      //clip-path: url("/static/branding/python-pizza/wave.svg#clip-path");
      z-index: -1;
    }
  }
}

.obs-event-logo {
  top: 70px;

  img {
    width: 320px;
    height: 320px;
  }

  .obs-event-title {
    position: absolute;
    left: 360px;
    top: 78px;
    width: 1420px;
    font-weight: 500;
    text-shadow: none;
  }
}

.obs-intermission-schedule {
  bottom: 0;
  left: 1040px;
  min-height: 610px;
}

.obs-intermission-schedule-title {
  font-weight: 500;
  text-shadow: none;
  font-size: 2.3rem;
  margin-bottom: 70px;
  text-align: center;
}

.obs-intermission-schedule-entry {
  margin-bottom: 0;
  overflow: initial;
  margin-top: 30px;
}

.obs-intermission-schedule-talk {
  padding: 0 25px;
  text-align: center;
  margin-right: 30px;

  &.obs-intermission-schedule-entry {
    box-shadow: 0 4px 28px -8px #cac9c9;
    background-color: white;
    border-radius: 64px;
    height: 128px;

    &.dense {
      height: 144px;
      margin-top: 22px;
      border-radius: 72px;
    }

    .obs-intermission-schedule-variant-0 & {
      &:nth-of-type(2n) {
        padding-left: 135px;
      }

      &:nth-of-type(2n + 1) {
        padding-right: 135px;
      }
    }

    .obs-intermission-schedule-variant-1 & {
      &:nth-of-type(2n) {
        padding-right: 135px;
      }

      &:nth-of-type(2n + 1) {
        padding-left: 135px;
      }
    }
  }
}

.obs-intermission-schedule-break, .obs-intermission-schedule-announcement {

  &.obs-intermission-schedule-entry {
    box-shadow: 0 4px 28px -8px #cac9c9;
    background-color: var(--theme-ui-colors-primary);
    background-image: linear-gradient(
                    45deg,
                    transparent 25%,
                    rgba(0, 0, 0, 0.05) 25%,
                    rgba(0, 0, 0, 0.05) 50%,
                    transparent 50%,
                    transparent 75%,
                    rgba(0, 0, 0, 0.05) 75%
    );
    background-size: 2.4rem 2.4rem;
    height: 66px;
    border-radius: 33px;
    padding: 0;
    text-align: center;
    margin-right: 30px;
  }
}

.obs-intermission-schedule-entry-start-time {
  position: absolute;
  top: 14px;
  display: var(--start-time-display);

  .obs-intermission-schedule-variant-0 .obs-intermission-schedule-entry:nth-of-type(2n) & {
    right: 32px;
  }

  .obs-intermission-schedule-variant-0 .obs-intermission-schedule-entry:nth-of-type(2n + 1) & {
    left: 32px;
  }

  .obs-intermission-schedule-variant-1 .obs-intermission-schedule-entry:nth-of-type(2n) & {
    left: 32px;
  }

  .obs-intermission-schedule-variant-1 .obs-intermission-schedule-entry:nth-of-type(2n + 1) & {
    right: 32px;
  }

  .obs-intermission-schedule-announcement &, .obs-intermission-schedule-break & {
    color: white;
    top: 17px;
  }
}

.obs-intermission-schedule-misc-title {
  padding-top: 5px;
  padding-bottom: 5px;

  &:before {
    display: none;
    content: '';
  }
}

.obs-intermission-schedule-talk-picture {
  width: 144px;
  height: 144px;
  border-radius: 72px;
  top: -8px;
  left: auto;
  box-shadow: 2px 8px 32px -8px #ed4337;

  .obs-intermission-schedule-variant-0 .obs-intermission-schedule-talk:nth-of-type(2n) & {
    left: -8px;
  }

  .obs-intermission-schedule-variant-0 .obs-intermission-schedule-talk:nth-of-type(2n + 1) & {
    right: -8px;
  }

  .obs-intermission-schedule-variant-1 .obs-intermission-schedule-talk:nth-of-type(2n) & {
    right: -8px;
  }

  .obs-intermission-schedule-variant-1 .obs-intermission-schedule-talk:nth-of-type(2n + 1) & {
    left: -8px;
  }

  .dense & {
    top: 0;
  }

  img {
    min-width: 144px;
    min-height: 144px;
    left: 72px;
    object-fit: cover;
    height: 144px;
    width: 144px;
  }
}

.obs-intermission-schedule-entry-content {
  overflow: hidden;
}

.obs-intermission-schedule-talk-author-name {
  font-family: "Open Sans", sans-serif;
  color: #15141A;
  font-size: 1.5rem;
  letter-spacing: initial;
  margin-top: 8px;
  margin-bottom: 8px;

  .dense & {
    margin-top: 0;
    margin-bottom: 0;
  }
}


.obs-intermission-schedule-talk-title {
  color: #15141A;
  font-family: inherit;
  font-size: 1.25rem;
  padding-bottom: 5px;
}

.obs-intermission-schedule-overflow {
  display: none;
}

.obs-intermission-info {
  color: #15141A;
  text-shadow: none;
  font-size: 4rem;
}

.obs-intermission-next-entry {
  top: 305px;
  left: 1050px;
  margin-right: 15px;
}

.obs-intermission-next-entry-picture {
  border-radius: 226.5px;
  box-shadow: 2px 8px 32px -8px #ed4337;
  left: 201px;

  img {
    min-width: 453px;
    min-height: 453px;
    object-fit: cover;
  }
}

.obs-intermission-next-entry-content {
  top: 460px;
  right: 0;
}

.obs-intermission-next-entry-author-name {
  color: #15141A;
  margin-bottom: 45px;
  font-size: 2.45rem;
  font-family: "Open Sans", sans-serif;

  .dense & {
    margin-bottom: 20px;
  }
}

.obs-intermission-next-entry-title {
  color: #15141A;

  .dense & {
    line-height: 1.2em;
  }
}


.obs-intermission-next-entry-misc-title {
  color: #15141A;
}

.obs-intermission-info, .obs-intermission-message {
  left: 25px;
}

.obs-body-scene-presentation .obs-event-logo img {
  width: 93px;
  height: 93px;
}

.obs-intermission-sponsors {
  position: absolute;
  top: 400px;
  left: 20px;
  width: calc(var(--intermission-sponsors-columns) * 350px);
}

.obs-intermission-sponsors-entry {
  width: 300px;
  height: 112px;
  line-height: 115px;
  display: inline-block;
  background: white;
  margin-left: 15px;
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  box-sizing: border-box;

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    vertical-align: middle;
    object-position: top;
    position: absolute;
    left: 15px;
    right: 15px;
    width: 270px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.preserve-width {
    img {
      object-fit: cover;
    }
  }
}

.obs-presentation-sponsors .slide {
  box-sizing: border-box;
  padding: 15px;
}

.obs-presentation-bottom-bar-social-icon {
  color: #15141A;
  text-shadow: none;
}

.obs-presentation-author, .obs-presentation-title, .obs-presentation-misc-title {
  color: white;
  text-shadow: none;
}

.obs-presentation-author {
  font-family: "Open Sans", sans-serif;
}

.obs-presentation-bottom-bar-social-url, .obs-presentation-bottom-bar-social-code {
  color: #15141A;
  text-shadow: none;
}