:root {
  --color-accent-c: 66, 144, 150;
  --color-background-c: 20, 20, 20;
}

body, html {
  font-family: "Montserrat", sans-serif;

  &.obs-body-default {
    background: url("sesja-linuksowa/background.png") no-repeat var(--color-background);
    position: relative;
    overflow: hidden;
  }
}

.obs-event-logo {

  img {
    height: 240px;
  }

  .obs-event-title {
    display: none;
  }
}

.obs-intermission-sponsor-group {
  width: 1800px;
  margin: 0 auto;
}

.obs-intermission-sponsors-entry {
  border-radius: 0;
}