<table id="cp" class="schedule-table">
  <thead
      v-if="display == 'full' || display == 'no-extra' || {{ show_all|default("false") }}"
  >
  <tr>
    <th>Time</th>
    <th>Speaker</th>
    <th>Title</th>
    <th
        v-for="column in state.extra_columns"
        v-if="display == 'full' || display == 'no-header' || {{ show_all|default("false") }}"
    >{% raw %}{{ column }}{% endraw %}</th>
    {% if show_jump_buttons %}
      <th colspan="2">Jump</th>
    {% endif %}
  </tr>
  </thead>
    <template v-for="(entry, lp) in state.schedule">
      <tr v-if="entry.state != 'past' || {{ show_past_items|default("false") }}" :class='[`schedule-entry-${entry.state}`]'>
          <td>{% raw %}{{ formatTime(entry.start) }}{% endraw %}</td>
          <td>{% raw %}{{ entry.author?entry.author.name:'---' }}{% endraw %}</td>
          <td>{% raw %}{{ entry.title }}{% endraw %}</td>
          <td
              v-for="column in state.extra_columns"
              v-if="display == 'full' || display == 'no-header' || {{ show_all|default("false") }}"
          >{% raw %}{{ entry[column] }}{% endraw %}</td>
          {% if show_jump_buttons %}
            <td class="scheduleTable-jump"><a :class='{"current": state.current_state[0] === lp && state.current_state[1] === false}' @click="jump(`${lp}-pre`)">P</a></td>
            <td class="scheduleTable-jump"><a :class='{"current": entry.state == "current"}' @click="jump(`${lp}-mid`)">M</a></td>
          {% endif %}
      </tr>
    </template>
</table>
