{% raw %}
  <template v-if="screen.type == 'presentation-title'">
    <div class="obs-presentation-top-bar">
      <template v-if="current.type == 'talk'">
        <span class="obs-presentation-author"><template v-for="author in current.authors">{{ author.name }}</template></span>
        <span class="obs-presentation-title">{{ current.title }}</span>
      </template>
      <template v-else-if="current.type == 'lightning-talks'">
        <span class="obs-presentation-misc-title">Lightning talks</span>
      </template>
      <template v-else-if="current.type == 'break' || current.type == 'announcement'">
        <span class="obs-presentation-misc-title">{{ current.title }}</span>
      </template>
    </div>
    <div :class="['obs-presentation-sponsors', 'slideshow', `obs-presentation-sponsors-${presentationSponsors}`]" v-if="presentationSponsors !== null && event.template.sponsors_on.includes('presentation') && state.context.presentation_sponsors.length > 0">
      <div  :class="['slide', {'active': slideActive(ticker, 5000, index, state.context.presentation_sponsors.length)}]"  v-for="(sponsor, index) in state.context.presentation_sponsors">
        <img :src="sponsor.logo_url" :alt="sponsor.name">
      </div>
    </div>
    <div class="obs-presentation-bottom-bar" v-if="presentationBottomBar">
      <div class="obs-presentation-bottom-bar-slider slideshow">
        <div :class="['slide', {'active': slideActive(ticker, 5000, index, state.context.socials.length)}]" v-for="(social, index) in state.context.socials">
                  <span class="obs-presentation-bottom-bar-social-icon" v-if="!social.img">
                    <i v-if="social.type === 'website'" class="fa-solid fa-globe"></i>
                    <i v-else :class="['fa-brands', `fa-${social.type}`]"></i>
                  </span>
          <span class="obs-presentation-bottom-bar-social-url">{{ social.url.replace(/^https?:\/\//, "").replace(/\/$/, "") }}</span>
          <span class="obs-presentation-bottom-bar-social-code" v-if="social.code">{{ social.code }}</span>
        </div>
      </div>
    </div>
  </template>
{% endraw %}