{% raw %}
  <div v-if="screen.type == 'sponsor-groups'"
       :class="['obs-intermission-sponsors', {'noLogo': !screen.logo, 'underLogo': screen.type == 'schedule'}]">
    <div class="obs-intermission-sponsors-title" v-if="screen.title">{{ screen.title }}</div>
    <div v-for="(group, index) in screen.groups"
         :class="['obs-intermission-sponsor-group', group.classes]">
      <div class="obs-intermission-sponsor-group-title" v-if="group.name">{{ group.name }}</div>
      <div class="obs-intermission-sponsor-group-inner">
        <div v-for="sponsor in group.sponsors" :class="['obs-intermission-sponsors-entry', sponsor.classes, group.sponsor_classes, {'withName': screen.with_names}]">
          <img :src="sponsor.logo_url" :alt="sponsor.name">
          <span class="obs-intermission-sponsors-entry-name" v-if="screen.with_names">{{ sponsor.name }}</span>
        </div>
      </div>
    </div>
  </div>
{% endraw %}