$fa-font-path           : "./fontawesome/webfonts";
@import "fontawesome/fontawesome";
@import "fontawesome/regular";
@import "fontawesome/solid";

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(roboto-monospace.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --main-bg-color: #2b2e38;
  --secondary-bg-color: #3c404b;
  --ternary-bg-color: #323540;
  --lowlight-bg-color: #191b26;
  --highlight-bg-color: #4f535e;

  --fg-color: #fefefe;
  --secondary-fg-color: #767e99;
  --lowlight-fg-color: #5b5e68;

  --accent-color: #284cb8;
  --accent-alt-color: #4767c0;

  --accent-pos-color: #004400;
  --accent-neg-color: #880000;

  --ok-fg-color-rgb: 0, 127, 0;
  --warn-fg-color-rgb: 219, 157, 32;
  --danger-fg-color-rgb: 219, 13, 32;

  --ok-fg-color: rgb(var(--ok-fg-color-rgb));
  --warn-fg-color: rgb(var(--warn-fg-color-rgb));
  --danger-fg-color: rgb(var(--danger-fg-color-rgb));

  --ok-color-rgb: 0, 127, 0;
  --warn-color-rgb: 219, 157, 32;
  --danger-color-rgb: 219, 13, 32;

  --ok-color: rgb(var(--ok-color-rgb));
  --warn-color: rgb(var(--warn-color-rgb));
  --danger-color: rgb(var(--danger-color-rgb));
}

#app:not([data-v-app]) #cp {
  display: none;
}

body {
  background: var(--main-bg-color);
  color: var(--fg-color);
  font-family: sans-serif;

  &.demo {
    margin: 0;
  }
}

hr {
  border: none;
  border-top: solid 1px var(--secondary-bg-color);
  max-width: 400px;
  margin: 10px 5px;
}

a {
  cursor: pointer;
}

button {
  border: none;
  border-radius: 3px;
  background: var(--secondary-bg-color);
  color: var(--fg-color);
  box-sizing: border-box;
  height: 30px;
  cursor: pointer;
  position: relative;

  &.i {

    i {
      margin-right: 5px;
      font-size: 16px;
    }
  }

  &.active, &.other-active {
    background: var(--accent-color);

    &:hover {
      background: var(--accent-alt-color)
    }
  }

  &.active ~ .other-active:not(:hover) {
    background: var(--secondary-bg-color);
  }
}

button:hover {
  background: var(--highlight-bg-color);
}

button:disabled {
  background: var(--lowlight-bg-color);
  color: var(--lowlight-fg-color);
}

input[type=text], input[type=number] {
  border: none;
  border-radius: 3px;
  background: var(--secondary-bg-color);
  color: var(--fg-color);
  box-sizing: border-box;
  height: 30px;
  padding: 15px;

  &.time {
    width: 2.5em;
    padding: 5px;
    text-align: right;
  }
}

.row {
  box-sizing: border-box;
  height: 30px;
  margin: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 400px;
  align-items: center;
  gap: 0;

  &.row-wrap {
    flex-wrap: wrap;
    height: auto;
  }

  &.row1 > * {
    &, &.cell2, &.cell3, &.cell4, &.cell5 {
      width: calc(100% - 5px);
    }
  }

  &.row2 > * {
    width: calc(100% / 2 - 5px);

    &.cell2, &.cell3, &.cell4, &.cell5 {
      width: calc(100% - 5px);
    }
  }

  &.row3 > * {
    width: calc(100% / 3 - 5px);

    &.cell2 {
      width: calc(100% / 3 * 2 - 5px)
    }

    &.cell3, &.cell4, &.cell5 {
      width: calc(100% - 5px);
    }
  }

  &.row4 > * {
    width: calc(100% / 4 - 5px);

    &.cell2 {
      width: calc(100% / 4 * 2 - 5px)
    }

    &.cell3 {
      width: calc(100% / 4 * 3 - 5px)
    }

    &.cell4, &.cell5 {
      width: calc(100% - 5px);
    }
  }

  &.row5 > * {
    width: calc(100% / 5 - 5px);

    &.cell2 {
      width: calc(100% / 5 * 2 - 5px)
    }

    &.cell3 {
      width: calc(100% / 5 * 3 - 5px)
    }

    &.cell4 {
      width: calc(100% / 5 * 4 - 5px)
    }

    &.cell5 {
      width: calc(100% - 5px);
    }
  }

  > * {
    width: calc(100% / 6 - 5px);
    margin: 2.5px;

    &.cell2 {
      width: calc(100% / 6 * 2 - 5px)
    }

    &.cell3 {
      width: calc(100% / 6 * 3 - 5px)
    }

    &.cell4 {
      width: calc(100% / 6 * 4 - 5px)
    }

    &.cell5 {
      width: calc(100% / 6 * 5 - 5px)
    }
  }

  &.row.preview {
    margin: 0;
    height: 1110px;
    display: block;

    @media screen and (min-width: 3840px) {
      display: flex;
      flex-wrap: wrap;
    }

    > * {
      @media screen and (min-width: 3840px) {
        width: 50%;
        margin: 0;
        padding: 0;
      }
      width: 100%;
    }
  }

  .demo & {
    max-width: 3880px;
  }
}

.row p {
  text-align: center;
}

.row > div > * {
  display: inline-block;
}

.row > h1 {
  text-align: center;
  font-size: 1.5em;
  width: 100%;
}

.row > #stream-message-text {width: calc(500% / 6 - 5px)}

#timer-message-text {width: calc(500% / 6 - 5px)}

.timer-current {
  display: inline-block;
  width: calc(60% - 15.6px);
  text-align: center;
  float: left;
  border-radius: 3px;
  background-color: var(--lowlight-bg-color);

  &::after {
    position: absolute;
    left: calc(60% - 15.6px);
    content: "/";
    display: inline-block;
    background-color: var(--lowlight-bg-color);
    color: var(--lowlight-fg-color);
    border-radius: 3px;
    margin: 0 5px;
    width: 16px;
    box-sizing: border-box;
    text-align: center;
  }
}

.timer-set {
  float: right;
  text-align: center;
  width: calc(40% - 10.4px);
  display: inline-block;
  border-radius: 3px;
  background-color: var(--lowlight-bg-color);
}

.timer-status {
  position: relative;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;
}

dialog {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  max-width: 386px;
  max-height: 202px;
  color: var(--fg-color);
  background: var(--main-bg-color);
  border: none;
  border-radius: 3px;
  margin: 20px;
  box-sizing: border-box;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  .dialog-close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 30px;
  }

  .spinner span {
    width: 45px;
  }
}

.spinner {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2em;

  .spinner-row {
    display: block;
    margin: 5px auto
  }

  button {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
  }

  span {
    height: 30px;
    display: block;
    background-color: var(--lowlight-bg-color);
    border-radius: 3px;
    text-align: center;
    margin: 5px auto;
  }
}

.spinner-colon {
  display: inline-block;
  vertical-align: middle;

  background-color: var(--lowlight-bg-color);
  color: var(--lowlight-fg-color);
  border-radius: 3px;
  margin: 0 5px;
  width: 16px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
  line-height: 30px;
}

.schedule-table, scheduleTable {
  border-spacing: 5px;
  border: none;
  td {
    background: var(--ternary-bg-color);
    padding: 5px;
    border-radius: 3px;

    &.scheduleTable-jump {
      text-align: center;
      background: none;
      padding: 0;
      margin: 0;
      border-radius: 0;

      a {
        background: var(--secondary-bg-color);
        padding: 5px;
        border-radius: 3px;
        box-sizing: border-box;
        display: block;
        height: 100%;

        &:hover {
          background: var(--highlight-bg-color);
        }

        &.current {
          background: var(--accent-color);
        }
      }
    }

  }
  .schedule-entry-next td {
    background: var(--accent-pos-color);
  }

  .schedule-entry-current td {
    background: var(--accent-neg-color);
  }
}

.previewWindow {
  input {
    width: 800px;
  }
  iframe {
    width: 1920px;
    height: 1080px;
  }
}

.checklist {
  margin-bottom: 40px;
  .checklist-items {
    overflow: hidden;
    input[type=checkbox] {
      display: none;

      + label {
        margin: 0 2.5px 2.5px;
        height: 30px;
        background: var(--secondary-bg-color);
        color: var(--fg-color);
        cursor: pointer;
        box-sizing: border-box;
        line-height: 28px;
        padding: 1px 4px 1px 34px;
        display: block;
        border-radius: 3px;
        position: relative;

        span {
          font-size: 14px;
          display: inline-block;
          margin-left: 8px;

          &.hint {
            color: var(--secondary-fg-color);
          }

          &.warning {
            color: var(--warn-fg-color);
          }
        }

        &::before {
          font-family: var(--#{$fa-css-prefix}-style-family, '#{$fa-style-family}');
          font-weight: 400;

          content: unquote("\"#{ $fa-var-square }\"");
          position: absolute;
          left: 6px;
          font-size: 24px;
          top: 1px;
        }
      }

      &:checked {
        + label {
          background: var(--lowlight-bg-color);
          color: var(--lowlight-fg-color);
          text-decoration: line-through;

          span {
            text-decoration: line-through;
          }

          &::before {
            content: unquote("\"#{ $fa-var-square-check }\"");
          }
        }
      }
    }
    .checklist-items-item {
      .checklist-items {
        padding-left: 24px;
      }
    }
  }
}

.checklistBottomBar {
  position: fixed;
  border-top: 2px solid var(--highlight-bg-color);
  background: var(--main-bg-color);
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;

  .checklistBottomBar-actions {
    float: left;
    margin: 5px;
  }

  .checklistBottomBar-links {
    margin: 5px;
    float: right;

    a {
      @extend button;
      font-weight: normal;

      display: inline-block;
      text-decoration: none;
      line-height: 28px;
      padding: 1px 8px;
    }
  }
}

.timer-container {
  overflow: hidden;
  position: relative;
  width: 400px;
  box-sizing: border-box;
  height: 120px;
  background: #000000;
  border-radius: 5px;
  margin: 5px;

  &.timer-flash {
    animation: flash 0.5s steps(1, end) 3;
  }

  progress.progress-bar {
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(
                    270deg,
                    rgba(var(--ok-color-rgb), 0.2) 0%,
                    rgba(var(--ok-color-rgb), 0.2) 70%,
                    rgba(var(--warn-color-rgb), 0.2) 70%,
                    rgba(var(--warn-color-rgb), 0.2) 90%,
                    rgba(var(--danger-color-rgb), 0.2) 90%,
                    rgba(var(--danger-color-rgb), 0.2) 100%
    );
    border: none;
    width: 100%;
    margin: 0 auto 20px;
    display: block;
    height: 10px;

    &::-moz-progress-bar, &::-webkit-progress-bar {
      background: linear-gradient(
                      270deg,
                      var(--ok-color) 0%,
                      var(--ok-color) 70%,
                      var(--warn-color) 70%,
                      var(--warn-color) 90%,
                      var(--danger-color) 90%,
                      var(--danger-color) 100%
      ) center left / 400px 100%;
    }
  }

  div.timer {
    text-align: center;
    font-size: 64px;
    margin: 0;
    color: var(--ok-color);
    font-family: "Roboto Mono", monospace;

    &.warn {
      color: var(--warn-color);
    }

    &.danger {
      color: var(--danger-color);
    }

    &.outaTime {
      animation: blinker 1s steps(1, end) infinite;
    }

  }
}

.grid {
  display: grid;
  width: 2460px;
  height: 1384px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

  row-gap: 5px;
  column-gap: 5px;

  .grid-schedule {
    grid-column: 2/4;
    grid-row: 1/5;
  }

  .grid-presentation-preview {
    grid-column: 4/7;
    grid-row: 1/4;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
