$fa-font-path           : "./fontawesome/webfonts";
@import "fontawesome/fontawesome";
@import "fontawesome/brands";
@import "fontawesome/solid";
@import "fonts/open-sans";
@import "fonts/fira_sans";
@import "fonts/montserrat";


:root {
  --pykonik-yellow: #f2aa0a;
  --pykonik-grey: #606061;
  --pykonik-blue: #3a77a6;

  --color-accent-c: 242, 170, 10;
  --color-background-c: 2, 2, 2;
  --color-main-c: 255, 255, 255;
  --color-sponsors-background-c: 255, 255, 255;

  --color-accent: rgb(var(--color-accent-c));
  --color-background: rgb(var(--color-background-c));
  --color-main: rgb(var(--color-main-c));
  --color-sponsors-background: rgb(var(--color-sponsors-background-c));
}

html {
  background: rgba(0,0,0,.92);
}

body, html {
  font-family: "Fira Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  font-size: 24px;
}

.obs-event-logo {
  position: absolute;
  top: 70px;
  left: 27px;

  img {
    display: block;
    object-fit: contain;
    object-position: top left;
    width: 1304px;
    height: 440px;
  }

  .obs-body-scene-presentation & {
    top: 12px;
    left: 13px;

    img {
      width: 353px;
      height: 128px;
      display: block;
    }
  }
}

.obs-event-title {
  position: absolute;
  left: 360px;
  top: 78px;
  width: 1420px;

  font-size: 4rem;
  font-weight: 500;
  text-shadow: none;
  letter-spacing: 0.015em;

  color: white;

  .obs-body-scene-presentation & {
    display: none;
  }
}

.obs-event-social-link {
  position: absolute;
  font-size: 2em;
  font-weight: bold;
  bottom: 15px;
  right: 15px;
}

.obs-intermission-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.obs-intermission-info, .obs-intermission-message {
  position: absolute;
  left: 25px;
  font-weight: 700;
  letter-spacing: 0.015em;
  color: var(--color-main);
}

.obs-intermission-info {
  top: 865px;
  font-size: 4rem;
}

.obs-intermission-message {
  top: 1010px;
  font-size: 2rem;
  margin-left: 30px;
}

.obs-intermission-questions-integration {
  position: absolute;
  left: 25px;
  top: 865px;
  width: 704px;
  color: white;
  font-size: 1.5rem;
  overflow: hidden;

  img {
    width: 192px;
    height: 192px;
    float: left;
    margin-right: 16px;
  }

  span {
    display: block;
  }

  .obs-intermission-questions-integration-text {
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .obs-intermission-questions-integration-url {
    white-space: nowrap;
  }

}

.obs-intermission-schedule {
  position: absolute;
  padding-bottom: 20px;
  right: 0;
  bottom: auto;
  top: 408px;
  left: 1040px;
}

.obs-intermission-schedule-title {
  color: white;
  letter-spacing: 0.015em;

  font-weight: 500;
  text-shadow: none;
  font-size: 2.3rem;
  margin-bottom: 70px;
  text-align: center;
}

.obs-intermission-schedule-entry {
  position: relative;

  margin-bottom: 32px;
  overflow: initial;
  background-color: var(--color-accent);
  color: var(--color-main);
  font-size: 1.5rem;
  letter-spacing: initial;
  padding: 20px 25px 8px;
  text-align: center;
  height: 55px;
  margin-right: 30px;
}

.obs-intermission-schedule-talk {
  margin-top: -15px;
  text-align: center;
  padding: 0;

  &.obs-intermission-schedule-entry {
    background-color: var(--color-background);
    height: 132px;

    padding-left: 120px;
  }
}

.obs-intermission-schedule-talk-picture {
  overflow: hidden;
  position: absolute;

  width: 120px;
  height: 132px;
  top: 0;
  left: 0;

  img {
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    display: block;

    min-width: 120px;
    min-height: 132px;
    left: 60px;
    object-position: center top;
    object-fit: cover;
    height: 132px;
    width: 120px;
  }
}

.obs-intermission-schedule-talk-author-name {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
  white-space: nowrap;

  background-color: var(--color-accent);
  color: var(--color-main);
  letter-spacing: initial;
  padding: 20px 25px 8px;
}

.obs-intermission-schedule-talk-title {
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1em;

  padding: 8px 25px 8px;
  color: var(--color-main);
  font-family: inherit;
  font-size: 1.25rem;
  display: grid;
  align-items: center;
  min-height: 60px;
  background: var(--color-background);
}

.obs-intermission-schedule-misc-title {
  display: block;
  color: white;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.015em;
}

.obs-intermission-schedule-entry-content {
  overflow: hidden;
}

.obs-intermission-schedule-entry.obs-intermission-schedule-overflow {
  height: 140px;
  margin-bottom: -100px;
  margin-top: -25px;
  background: none;

  .obs-intermission-schedule-misc-title:before {
    content: "";
  }
}

.obs-intermission-sponsors {
  position: absolute;
  top: 350px;
  left: 20px;
  width: 700px;
}

.obs-intermission-sponsors-entry {
  width: 250px;
  height: 90px;
  margin-left: 20px;
  margin-bottom: 20px;
  line-height: 115px;
  display: inline-block;
  background: var(--color-sponsors-background);
  border-radius: 20px;
  padding: 15px;
  position: relative;

  &:nth-child(3) {
    width: 550px;
    height: 135px;
  }

  img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:nth-child(1) {
    img {
      width: 120%;
      height: 120%;
    }
  }
}

.obs-intermission-next-entry {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 1073px;
  top: 305px;
}

.obs-intermission-next-entry-picture {
  position: absolute;
  top: 0;
  width: 453px;
  height: 453px;
  overflow: hidden;
  left: 182px;

  img {
    position: absolute;
    transform: translateX(-50%);
    left: 226.5px;

    top: 95px;
    width: 300px;
    height: 330px;
    min-width: 300px;
    min-height: 330px;
    object-fit: cover;
    object-position: center top;
  }
}


.obs-intermission-next-entry-content {
  position: absolute;
  top: 455px;
  left: -55px;
}

.obs-intermission-next-entry-author-name {
  display: block;
  font-weight: 700;
  margin: 0;

  color: var(--color-main);
  background-color: var(--color-accent);
  padding: 20px 15px;
  font-size: 2.25rem;
  width: 872px;
}


.obs-intermission-next-entry-title {
  display: block;
  font-weight: 400;
  letter-spacing: 0.015em;
  margin-top: -13px;

  color: var(--color-main);
  background-color: var(--color-background);
  padding: 20px 15px;
  font-size: 1.75rem;
}

.obs-intermission-next-entry-misc-title {
  display: block;
  color: white;
  font-size: 3.25rem;
  font-weight: 700;
  margin: 100px 0 0;
}

.obs-presentation-top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
}

.obs-presentation-author, .obs-presentation-title, .obs-presentation-misc-title {
  float: right;
  clear: both;
  font-weight: 700;
  letter-spacing: 0.015em;
  color: white;
  margin-right: 20px;
}

.obs-presentation-author {
  font-size: 1.75rem;
}

.obs-presentation-title {
  font-size: 1.5rem;
}

.obs-presentation-misc-title {
  font-size: 1.75rem;
}

.obs-presentation-bottom-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  overflow: hidden;
}

.obs-presentation-bottom-bar-slider {
  float: right;
  clear: both;
  margin-right: 20px;
  margin-top: 40px;
  width: 700px;
  text-align: right;
}

.obs-presentation-bottom-bar-social-icon {
  margin-right: 8px;
  font-size: 1.75rem;
  vertical-align: middle;
  display: inline-block;
  color: white;

  text-shadow:
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black;
}

.obs-presentation-bottom-bar-social-url, .obs-presentation-bottom-bar-social-code {
  color: white;
  font-size: 1.5rem;
  vertical-align: middle;
  display: inline-block;

  text-shadow:
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black;
}

.obs-presentation-sponsors {
  position: absolute !important;
  top: 722px;
  box-sizing: border-box;
  width: 409px;
  height: 229px;
  background: white;
  border: solid 1px black;

  &.obs-presentation-sponsors-left {
    left: 20px;
  }

  &.obs-presentation-sponsors-right {
    right: 20px;
  }
}

.obs-presentation-sponsors .slide {
  box-sizing: border-box;
  padding: 15px;
}

.slideshow {
  position: relative;

  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &.active {
      opacity: 1;
    }
  }
}

.fa-discord {
  color: #7289da;
}

.fa-youtube {
  color: #ff0000;

  position: relative;
  display: inline-block;

  background: white;
  top: 0.2em;
  left: 0.2em;
  width: 0.7em;
  height: 0.6em;
  margin-right: 0.42em;

  &:before, &:after {
    top: -0.2em;
    left: -0.2em;
  }

  &:before {
    position: relative;
    z-index: -1;
  }

  &:after {
    position: absolute;
    content: unquote("\"#{ $fa-var-youtube }\"");
    text-shadow: none;
  }

}

.fa-meetup {
  color: #e51937
}