$fa-font-path           : "./fontawesome/webfonts";
@import "fontawesome/fontawesome";
@import "fontawesome/brands";
@import "fontawesome/solid";
@import "fonts/open-sans";


:root {
  --pykonik-yellow: #f2aa0a;
  --pykonik-grey: #606061;
  --pykonik-blue: #3a77a6;
}

body, html {
  font-family: "Open Sans";
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  font-size: 24px;

  &.obs-body-default {
    background: white;
  }
}

.obs-event-logo {
  position: absolute;
  top: 186px;
  left: 27px;

  img {
    display: block;
    object-fit: contain;
    object-position: top left;
  }

  &.thumbnail {
    top: 299px;
    left: 576px;

    img {
      width: 766px;
      height: 230px;
    }
  }

  .obs-body-scene-presentation & {
    top: 12px;
    left: 13px;

    img {
      width: 314px;
      height: 93px;
      display: block;
    }
  }
}

.obs-event-title {
  position: relative;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.015em;
  text-shadow: 0 0 5px black,
  0 0 5px black,
  0 0 5px black,
  0 0 5px black,
  0 0 5px black,
  0 0 5px black,
  0 0 5px black,
  0 0 5px black,
  0 0 5px black,
  0 0 5px black,
  0 0 5px black,
  0 0 5px black,
  0 0 5px black;
  color: white;

  top: -52px;
  left: 350px;

  .obs-event-logo.thumbnail & {
    font-size: 4.6666666666666666em;
    top: 53px;
    left: 0;
    color: var(--pykonik-blue);
    text-shadow: 0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white,
    0 0 8px white;
  }

  .obs-body-scene-presentation & {
    display: none;
  }
}

.obs-event-subtitle {
  position: absolute;
  font-size: 2.625em;
  font-weight: bold;
  color: var(--pykonik-yellow);
  text-shadow:
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white;
  top: 429px;
  right: 1px;
  letter-spacing: 0.004em;
}

.obs-event-social-link {
  position: absolute;
  font-size: 2em;
  font-weight: bold;
  bottom: 15px;
  right: 15px;
  color: var(--pykonik-blue);
  text-shadow:
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white,
          0 0 8px white;
}

.obs-intermission-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.obs-intermission-info, .obs-intermission-message {
  position: absolute;
  left: 845px;
  font-weight: 700;
  letter-spacing: 0.015em;
  text-shadow:
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black;
  color: white;

  &.alt-position {
    left: 25px;
  }
}

.obs-intermission-info {
  top: 865px;
  font-size: 4.4rem;
}

.obs-intermission-message {
  top: 1010px;
  font-size: 2rem;
  margin-left: 30px;
}

.obs-intermission-questions-integration {
  position: absolute;
  left: 25px;
  top: 865px;
  width: 704px;
  color: white;
  font-size: 1.5rem;
  overflow: hidden;

  img {
    width: 192px;
    height: 192px;
    float: left;
    margin-right: 16px;
  }

  span {
    display: block;
  }

  .obs-intermission-questions-integration-text {
    margin-top: 32px;
    margin-bottom: 24px;
  }

  .obs-intermission-questions-integration-url {
    white-space: nowrap;
  }

}

.obs-intermission-schedule {
  position: absolute;
  left: 1125px;
  bottom: 18px;
  padding-bottom: 20px;
  right: 0;
}

.obs-intermission-schedule-title {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.015em;
  text-shadow:
          0 0 5px var(--pykonik-blue),
          0 0 5px var(--pykonik-blue),
          0 0 5px var(--pykonik-blue),
          0 0 5px var(--pykonik-blue),
          0 0 5px var(--pykonik-blue),
          0 0 5px var(--pykonik-blue),
          0 0 5px var(--pykonik-blue),
          0 0 5px var(--pykonik-blue),
          0 0 5px var(--pykonik-blue),
          0 0 5px var(--pykonik-blue),
          0 0 5px var(--pykonik-blue),
          0 0 5px var(--pykonik-blue),
          0 0 5px var(--pykonik-blue);
  margin-bottom: 40px;
}

.obs-intermission-schedule-entry {
  overflow: hidden;
  position: relative;
  padding-left: 100px;
  margin-bottom: -20px;
  height: 140px;
}

.obs-intermission-schedule-talk {
  margin-top: -15px;
}

.obs-intermission-schedule-talk-picture {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  top: 15px;
  left: 0;

  img {
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 40px;
    height: 80px;
    display: block;
  }
}

.obs-intermission-schedule-talk-author-name {
  display: block;
  color: var(--pykonik-yellow);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.015em;
  margin-top: 0;
  white-space: nowrap;
}

.obs-intermission-schedule-talk-title {
  display: block;
  color: white;
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
  font-family: "Lato", sans-serif;
  line-height: 1em;
}

.obs-intermission-schedule-misc-title {
  display: block;
  color: white;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.015em;
}

.obs-intermission-schedule-misc-title:before,  .obs-intermission-schedule-talk.no-picture .obs-intermission-schedule-entry-content:before {
  content: "➤";
  position: absolute;
  left: 25px;
  font-weight: 900;
  color: white;
  font-size: 1.75rem;
}

.obs-intermission-schedule-overflow {
  height: 140px;
  margin-bottom: -100px;
  margin-top: -25px;

  .obs-intermission-schedule-misc-title:before {
    content: "";
  }
}

.obs-intermission-next-entry {
  position: absolute;
  top: 223px;
  right: 0;
  bottom: 0;
  left: 1073px;
}

.obs-intermission-next-entry-picture {
  position: absolute;
  top: 0;
  right: 139px;
  width: 453px;
  height: 453px;
  overflow: hidden;

  img {
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    left: 226.5px;
    height: 453px;
  }
}

.obs-intermission-next-entry-content {
  position: absolute;
  left: 0;
  top: 500px;
}

.obs-intermission-next-entry-author-name {
  display: block;
  color: var(--pykonik-yellow);
  font-size: 3.25rem;
  font-weight: 700;
  margin: 0;
}

.obs-intermission-next-entry-title {
  display: block;
  color: white;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.015em;
  margin-top: -13px;
}

.obs-intermission-next-entry-misc-title {
  display: block;
  color: white;
  font-size: 3.25rem;
  font-weight: 700;
  margin: 100px 0 0;
}


.obs-presentation-top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
}

.obs-presentation-author, .obs-presentation-title, .obs-presentation-misc-title {
  float: right;
  clear: both;
  text-shadow:
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black;
  font-weight: 700;
  letter-spacing: 0.015em;
  color: white;
  margin-right: 20px;
}

.obs-presentation-author {
  font-size: 1.5rem;
}

.obs-presentation-title {
  font-size: 1.25rem;
}

.obs-presentation-misc-title {
  font-size: 1.75rem;
}

.obs-presentation-bottom-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  overflow: hidden;
}

.obs-presentation-bottom-bar-slider {
  float: right;
  clear: both;
  margin-right: 20px;
  margin-top: 40px;
  width: 700px;
  text-align: right;
}

.obs-presentation-bottom-bar-social-icon {
  margin-right: 8px;
  font-size: 1.75rem;
  vertical-align: middle;
  display: inline-block;
  color: white;

  text-shadow:
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black;
}

.obs-presentation-bottom-bar-social-url, .obs-presentation-bottom-bar-social-code {
  color: white;
  font-size: 1.5rem;
  vertical-align: middle;
  display: inline-block;

  text-shadow:
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black,
          0 0 5px black;
}

.obs-presentation-sponsors {
  position: absolute !important;
  top: 722px;
  box-sizing: border-box;
  width: 409px;
  height: 229px;
  background: white;
  border: solid 1px black;

  &.obs-presentation-sponsors-left {
    left: 20px;
  }

  &.obs-presentation-sponsors-right {
    right: 20px;
  }
}

.slideshow {
  position: relative;

  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &.active {
      opacity: 1;
    }
  }
}

.fa-discord {
  color: #7289da;
}

.fa-youtube {
  color: #ff0000;

  position: relative;
  display: inline-block;

  background: white;
  top: 0.2em;
  left: 0.2em;
  width: 0.7em;
  height: 0.6em;
  margin-right: 0.42em;

  &:before, &:after {
    top: -0.2em;
    left: -0.2em;
  }

  &:before {
    position: relative;
    z-index: -1;
  }

  &:after {
    position: absolute;
    content: unquote("\"#{ $fa-var-youtube }\"");
    text-shadow: none;
  }

}

.fa-meetup {
  color: #e51937
}