@use "sass:color";

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(roboto-monospace.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


:root {
  --ok-color-rgb: 0, 127, 0;
  --warn-color-rgb: 219, 157, 32;
  --danger-color-rgb: 219, 13, 32;

  --ok-color: rgb(var(--ok-color-rgb));
  --warn-color: rgb(var(--warn-color-rgb));
  --danger-color: rgb(var(--danger-color-rgb));

  --heightPreview: calc(100vw * 9 / 16);

  --heightRest: calc(100vh - var(--heightPreview));
}

@keyframes blinker {
  50% { visibility: hidden; opacity: 0 }
}

@keyframes flash {
  50% { background: #ffffff; color: #000000}
}

html {
  overflow: hidden;
  cursor: none;
  margin: 0;
}

body {
  font-size: 3em;
  background: #000000;
  color: #dddddd;
  overflow: hidden;
  margin: 0;
}

.timer-container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  &.timer-flash {
    animation: flash 0.5s steps(1, end) 3;
  }
}

.timer-cameraFeed {
  width: 100vw;
  height: var(--heightPreview);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

progress.progress-bar {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
                  270deg,
                  rgba(var(--ok-color-rgb), 0.2) 0%,
                  rgba(var(--ok-color-rgb), 0.2) 70%,
                  rgba(var(--warn-color-rgb), 0.2) 70%,
                  rgba(var(--warn-color-rgb), 0.2) 90%,
                  rgba(var(--danger-color-rgb), 0.2) 90%,
                  rgba(var(--danger-color-rgb), 0.2) 100%
  );
  border: none;
  width: 95vw;
  margin: 2vh auto 8vh;
  display: block;
  height: 5vh;

  &::-moz-progress-bar, &::-webkit-progress-bar {
    background: linear-gradient(
                    270deg,
                    var(--ok-color) 0%,
                    var(--ok-color) 70%,
                    var(--warn-color) 70%,
                    var(--warn-color) 90%,
                    var(--danger-color) 90%,
                    var(--danger-color) 100%
    ) center left / 95vw 100%;
  }

  .timer-with-preview & {
    height: calc(var(--heightRest) * 0.15);
    margin: var(--heightPreview) auto 0;
    width: 100vw;
    &::-moz-progress-bar, &::-webkit-progress-bar {
      background: linear-gradient(
                      270deg,
                      var(--ok-color) 0%,
                      var(--ok-color) 70%,
                      var(--warn-color) 70%,
                      var(--warn-color) 90%,
                      var(--danger-color) 90%,
                      var(--danger-color) 100%
      ) center left / 100vw 100%;
    }
  }
}

div.timer {
  text-align: center;
  font-size: 15vw;
  margin: 8vh 0;
  color: var(--ok-color);
  font-family: "Roboto Mono", monospace;

  &.warn {
    color: var(--warn-color);
  }

  &.danger {
    color: var(--danger-color);
  }

  &.outaTime {
    animation: blinker 1s steps(1, end) infinite;
  }

  .timer-with-preview & {
    text-align: left;
    margin: 0 10px;
    width: calc(50% - 20px);
    float: left;
    font-size: calc(min(var(--heightRest) * 0.76, 100vw / 13));
    line-height: calc(min(var(--heightRest) * 0.76, 100vw / 13));

    @media screen and (max-aspect-ratio: 32/23) {
      font-size: calc(var(--heightRest) * 0.46);
      line-height: calc(var(--heightRest) * 0.46);
      float: initial;
      width: auto;
    }
  }
}

.message {
  font-size: 8vw;
  text-align: center;
  margin: 8vh 0;
  .timer-with-preview & {
    margin: 0 10px;
    text-align: right;
    float: right;
    width: calc(50% - 20px);
    font-size: calc(min(var(--heightRest) * 0.66, 100vw / 18));
    line-height: calc(min(var(--heightRest) * 0.66, 100vw / 18));

    @media screen and (max-aspect-ratio: 32/23) {
      font-size: calc(var(--heightRest) * 0.34);
      line-height: calc(var(--heightRest) * 0.32);
      text-align: left;
      float: initial;
      width: auto;
    }
  }
}