<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Control</title>
    <link type="text/css" rel="stylesheet" href="/static/control.css">

    <script type="application/json" id="initSettings">
      {
        "ws": "/{{ rig }}/ws/control?control_password={{ control_password }}"
      }
    </script>
  </head>
  <body>
    <div id="app">
        <template v-if="state !== null" id="cp">
          <div class="grid">
            <div class="grid-el grid-control">
              <div class="timer-container">
                {% include "partials/elements/timer.html" %}
              </div>
              {% include "partials/control/control.html" %}
            </div>
            <div class="grid-el grid-schedule">
              {% with show_all="true", show_past_items="true", show_jump_buttons="true" %}
                {% include "partials/control/schedule-table.html" %}
              {% endwith %}
            </div>
            <div class="grid-el grid-presentation-preview">
              <template v-for="(view, index) in state.assigned_views">
                <iframe :src="`https://vdo.ninja/?view=${view[1]}&password=${view[2]}`"></iframe>
              </template>
            </div>

          </div>
        </template>
        <template v-else>
          <p>Loading...</p>
        </template>
    </div>

    <script type="importmap">
      {
        "imports": {
          "vue": "/static/vue.esm-browser.js"
        }
      }
    </script>
    <script type="module" src="/static/ws.js"></script>
  </body>
</html>
