<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Web Source</title>
    <link type="text/css" rel="stylesheet" href="/static/global.css?v={{ get_file_sha('static/global.css') }}">
    {% if display_type == "no-background" %}
      <style>
        body, html {
            background: transparent !important;

            &:before, &:after {
                display: none;
            }
        }
      </style>
    {% elif display_type == "only-background" %}
      <style>
        body > * {
          display: none !important;
        }
      </style>
    {% elif display_type == "logo-and-background" %}
      <style>
          body > *:not(.obs-event-logo) {
              display: none !important;
          }
      </style>
    {% endif %}

    <script type="application/json" id="initSettings">
      {% if data %}
      {
        "display": {{ display_type | tojson }},
        "data": {{ data | tojson }},
        "presentationBottomBar": {{ presentation_bottom_bar | default(None) | tojson }},
        "presentationSponsors": {{ presentation_sponsors | default(None) | tojson }}
      }
      {% else %}
        {
          "display": {{ display_type | tojson }},
          "ws": "/v1/rigs/{{ rig }}/views/scene-{{ scene }}/ws?display={{ display_type }}",
          "presentationBottomBar": {{ presentation_bottom_bar | default(None) | tojson }},
          "presentationSponsors": {{ presentation_sponsors | default(None) | tojson }}
        }
      {% endif %}
    </script>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <script type="module" src="/static/ws.js?v={{ get_file_sha('static/ws.js') }}"></script>
  </head>
  <body class="obs-body-default obs-body-scene-{{ scene }}" id="app">
    <template v-if="state">
      <Teleport to="head">
        <link type="text/css" rel="stylesheet" :href="`/static/branding/${event.branding}.css?v=${event.branding_sha}`">
      </Teleport>

      <div
           v-for="(screen, screen_no) in state.view.active_screens"
           :class="['obs-intermission-content', `onScreenNo-${screen_no}`, {'onCurrentScreen': currentScreenNumber == screen_no}]"
      >
        {% include "partials/event-logo.html" %}
        {% include "partials/message.html" %}
        {% include "partials/next.html" %}
        {% include "partials/presentation-title.html" %}
        {% include "partials/questions-integration.html" %}
        {% include "partials/schedule.html" %}
        {% include "partials/sponsor-groups.html" %}
        {% include "partials/video.html" %}
      </div>
    </template>
  </body>
</html>
