<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Web Source</title>
    <link type="text/css" rel="stylesheet" href="/static/fontawesome/regular.css">
    <link type="text/css" rel="stylesheet" href="/static/global.css">
  </head>
  <body
      data-title="{{ meeting.full_title }}"
      data-display="{{ display_type }}"
      data-ws="/{{ group }}/{{ slug }}/ws/scene-{{ scene }}"
      class="{% block body_class %}obs-body-default{% endblock %}"
  >
    <div class="obs-meeting-logo {% if display_type != "scene" %}obs-meeting-logo-thumbnail{% endif %}">
      <img src="{{ meeting.logo_url }}" alt="{{ meeting.name }} logo">
      <div class="obs-meeting-title">{{ meeting.full_title }}</div>
    </div>

    {% raw %}
      <div class="obs-intermission-content" id="app">
        <template v-if="state">
          <div class="obs-intermission-agenda" v-if="state.template === 'agenda'">
            <div class="obs-intermission-agenda-title" v-if="display != 'thumbnail'">
              {{ state.previous_state[0] ? "Next" : "Today" }} in the schedule:
            </div>

            <div v-for="entry in state.context.schedule.slice(0, 3)"
                 :class="['obs-intermission-agenda-entry', `obs-intermission-agenda-${entry.type}`, {'no-picture': (entry.type != 'talk' || !entry.author.picture_url)}]">
              <template v-if="entry.type === 'talk'">
                <div class="obs-intermission-agenda-talk-picture" v-if="entry.author.picture_url">
                  <img :src="entry.author.picture_url" :alt="entry.author.name">
                </div>
                <div class="obs-intermission-agenda-entry-content">
                  <span class="obs-intermission-agenda-talk-author-name">{{ entry.author.name }}</span>
                  <span class="obs-intermission-agenda-talk-title">{{ entry.title }}</span>
                </div>
              </template>
              <template v-else-if="entry-type === 'lightning-talks'">
                <div class="obs-intermission-agenda-entry-content">
                  <span class="obs-intermission-agenda-misc-title">Lightning talks</span>
                </div>
              </template>
            </div>

            <div class="obs-intermission-agenda-entry obs-intermission-agenda-overflow" v-if="state.context.schedule.length > 3">
              <div class="obs-intermission-agenda-entry-content">
                <span class="obs-intermission-agenda-misc-title">And more...</span>
              </div>
            </div>
          </div>

          <div class="obs-intermission-next" v-if="state.template == 'next'">
            <div :class="['obs-intermission-next-entry', `obs-intermission-agenda-${current.type}`]">
              <template v-if="current.type == 'talk'">
                <div class="obs-intermission-next-entry-picture" v-if="current.author.picture_url">
                  <img :src="current.author.picture_url" :alt="current.author.name">
                </div>
                <div class="obs-intermission-next-entry-content">
                  <span class="obs-intermission-next-entry-author-name">{{ current.author.name }}</span>
                  <span class="obs-intermission-next-entry-title">{{ current.title }}</span>
                </div>
              </template>
              <template v-else-if="current.type == 'lightning-talks'">
                <div class="obs-intermission-next-entry-content">
                  <span class="obs-intermission-next-entry-misc-title">Lightning talks</span>
                </div>
              </template>
            </div>
          </div>

          <template v-if="displayMessages && display == 'scene'">
            <div :class="['obs-intermission-brb-info', messagesPositionCls]">{{ state.context.info }}</div>
            <div :class="['obs-intermission-message', messagesPositionCls]">{{ state.context.message }}</div>
          </template>
        </template>
      </div>
    {% endraw %}

    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <script type="module" src="/static/ws.js"></script>
  </body>
</html>
