<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="/static/control.css">

    <script type="application/json" id="initSettings">
      {
        "ws": "/{{ rig }}/ws/schedule",
        "display": {{ display_type | tojson }}
      }
    </script>
  </head>
  <body>
    <div id="app">
        <table v-if="state !== null" id="cp" class="schedule-table">
          <thead v-if="display == 'full' || display == 'no-extra'">
            <tr>
              <th>Time</th>
              <th>Speaker</th>
              <th>Title</th>
              <th v-for="column in state.extra_columns" v-if="display == 'full' || display == 'no-header'">{% raw %}{{ column }}{% endraw %}</th>
            </tr>
          </thead>
          {% raw %}
            <template v-for="entry in state.schedule">
              <tr v-if="entry.state != 'past'" :class=[`schedule-entry-${entry.state}`]>
                <td>{{ formatTime(entry.start) }}</td>
                <td>{{ entry.author?entry.author.name:'---' }}</td>
                <td>{{ entry.title }}</td>
                <td v-for="column in state.extra_columns" v-if="display == 'full' || display == 'no-header'">{{ entry[column] }}</td>
              </tr>
            </template>
          {% endraw %}
        </table>
        <template v-else>
          <p>Loading...</p>
        </template>
    </div>

    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <script type="module" src="/static/ws.js"></script>
  </body>
</html>
