<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Timer</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <link type="text/css" rel="stylesheet" href="/static/fontawesome/regular.css">
    <link type="text/css" rel="stylesheet" href="/static/timer.css">

    <script type="application/json" id="initSettings">
      {
        "ws": "/{{ rig }}/ws/timer{{ '?view_name=' + name if name is not none else '' }}",
        "timerWithPreview": {{ preview|tojson }}
      }
    </script>
  </head>
  <body>
    {% raw %}
      <div class="timer-layout" id="app">
        <div v-if="state !== null" id="cp" :class="['timer-container', {'timer-flash': timerFlashing, 'timer-with-preview': timerWithPreview}]">
          <iframe :src="`https://vdo.ninja/?password=${timerStream.pwd}&push=${timerStream.id}&autostart&easyexit&hidehome&webcam&nocontrols&fullscreen&cleanoutput&nomirror&audiodevice=0`"
                  v-if="timerWithPreview && timerStream"
                  allow="camera;microphone"
                  class="timer-cameraFeed"
          ></iframe>
          <video autoplay="true" ref="video" class="timer-cameraFeed" v-if="timerWithPreview && !timerStream"></video>
          {% endraw %}{% include "partials/elements/timer.html" %}{% raw %}

          <div class="message">{{ state.timer.message }}</div>
          <div class="clock"></div>
        </div>
        <div v-else-if="viewName !== null">
          <div>Select {{ viewName }} in control to assign</div>
        </div>
      </div>
    {% endraw %}

    <script type="importmap">
      {
        "imports": {
          "vue": "/static/vue.esm-browser.js"
        }
      }
    </script>

    <script type="module" src="https://unpkg.com/vue@3/dist/vue.esm-browser.js" ></script>
    <script type="module" src="/static/ws.js"></script>
  </body>
</html>
